/* 
#2C3331
#32413D
#416B61
#429682
#35C0A0
#1BEBBC 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1BEBBC;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #c98ffa;
    padding: 60px;
    color: rgb(102, 6, 102);
    font-weight: bold;
}


nav{
    display: flex;
    background-color: #fcb7ff;
}
nav a {
   color: rgb(102, 6, 102);
   padding: 10px;
   text-decoration:none;
   text-align: center;
 
}
nav a:hover{

    background-color: #2C3331;
    color: black;
}
#row{
    display: flex;
    flex-wrap: wrap;
}
princesa.jpg{
background-color: aquamarine;
width: 100%;
padding: 20px;
margin-bottom: 10px;
}

aside{
    flex: 30%;
    background-color: aliceblue;
    padding: 30px;
}

main{
    flex: 70%;
   background-color: aliceblue;
   padding: 20px;
}

 article{
   box-shadow: 0px 0px 10px
   #1BEBBC;
   padding: 5px;
   border-radius: 10px;

 }

 footer{
    background-color: #c98ffa;
    padding: 70px;
    color: #2C3331;
    text-align: center;
    font-size: 12px;
 }
 @media screen and (max-width:400px){
    nav{  flex-direction: column;
  } 
 
 }    
definicao.jpg{ 
    width: 100px;
    padding: 30%;
    margin: 20%;

}
img{
    border-radius: 60%;
      box-shadow: 0px 0px 10px
   #1BEBBC;
   padding: 5px;
   

}